.my-card-label{
    margin-top: 10% !important;
    margin-bottom: 3% !important;
}
.my-button-pos{
    margin:auto !important;
    position: relative !important;
}
body{
    background-image: url('view/img/rocketback.jpg');
    /*background-image: linear-gradient(to right, #1DA1F2, #0e8c8c);*/
    /*background-color: #0c85d0;*/
    font-family: Poppins, sans-serif;
}

.timer{
    display: flex;
    width: 90%;

}
.timer .time {
    float: left !important;
    position: relative;
    width: 90%;
    padding: 8px;
    margin: 0 10px;
    background: #009c95;
    color: #fff;
    border: 2px solid #000;

}
.key {
    float: left !important;
    position: relative;
    width: 14%;
    padding: 5px;
    margin: 0 8px;
}
.my-time{
    margin-top: 10%;

}
.launchtime{
    margin: 0 auto;
    font-family: Poppins, sans-serif !important;


}
.my-launchtime{
    margin: 10% auto;
}